<header class="ecommerce-header">
  <div class="top-bar">
    <div class="logo" routerLink="/">E-Shop</div>
    <div class="search-bar">
      <input type="text" placeholder="Search products..." (keyup.enter)="onSearch($event)"/>
      <!-- <button>Search</button> -->
    </div>
    <div class="profile-link">
      @if(authService.isAdmin){
        <a routerLink="/admin">{{authService.userName}}</a>
      }@else {
        <a routerLink="/profile">{{authService.userName}}</a>
      }
     
      @if(authService.isLoggedIn){
        <a (click)="logout()" class="cursor-pointer ml-2">Logout</a>
      }@else{
        <a routerLink="/login" class="cursor-pointer ml-2">LogIn</a>
        <a routerLink="/register" class="cursor-pointer ml-2">register</a>
      }
      
    </div>
  </div>
  @if(authService.isLoggedIn){
  <nav class="category-menu">
    <ul>
        @for (category of categoryList; track $index) {
            <li (click)="searchCategory(category._id!)"><a>{{category.name}}</a></li>
        }
    </ul>
    
  </nav>
}
</header>
