<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
      <h2 class="mb-6 text-2xl font-bold text-center text-gray-700">Login</h2>
      <form [formGroup]="loginForm">
        <!-- Email Input -->
        <div class="mb-4">
            <mat-form-field class="w-full">
                <mat-label for="email">Email</mat-label>
                <input 
                type="email" 
                formControlName="email" 
                matInput
                placeholder="Your email" 
                required
                >
            </mat-form-field>
        </div>
        
        <!-- Password Input -->
        <div class="mb-4">
            <mat-form-field class="w-full">
                <mat-label for="password">Password</mat-label>
                <input 
                type="password" 
                formControlName="password"
                matInput
                placeholder="Your password" 
                required
                >
            </mat-form-field>
        </div>
        
        <!-- Submit Button -->
        <div class="mt-6 flex justify-center">
          <button 
           mat-raised-button (click)="login()" [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </body>
